body {
	background-image: url("images/comic-list-bg-2.gif");
	background-size: 100% 110%;
}
@font-face{
	font-family: Asap;
	src: url(font/Asap-BoldItalic.ttf);
}
li {
	margin: 4px 0 4px 0;
	list-style: none;
	font-family: Calibri;
	font-weight: bold;
	padding-left: 5px;
	width: 82%;
	border-color: rgb(150,40,27);
	border-left-style: solid;
	border-width: 1px;
	background-image: linear-gradient(to right,rgba(192,57,43,0.3),rgba(0,0,0,0.5));
	background-repeat: no-repeat;
}
a:link {
	text-decoration: none;
	color: rgb(255,0,0);
}
a:visited {
	text-decoration: none;
	color: rgb(255,0,0);
}
a:active {
	text-decoration: none;
	color: rgb(255,0,0);
}
a:hover {
	text-decoration: none;
	color: rgba(255,255,255,0.9);
}
li:hover {
	border-color: rgb(255,255,255,0.9);
	border-left-style: solid;
	border-width: 1px;
	background-image: linear-gradient(to right,rgba(255,255,255,0.3),rgba(0,0,0,0.5));
	background-repeat: no-repeat;
}
ul {
	padding-left: 0px;
}

#ft {
	color: rgba(255,255,255,0.5);
	font-family: Asap;
	font-size:1em;
	font-weight: bold;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #202020;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,181,204,0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,181,204,0.8);
}